<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Welcome on our course!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                For registration on course go to link below
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="https://uafilm.tv/3415-smpsoni.html">
                <button style="margin-top: 15px; font-size: 22px; background-color: #047E89; color: aliceblue; font-weight: 700; border: none; padding: 15px; border-radius: 5px">
                    TO COURSE
                </button>
            </a>
        </td>
    </tr>
</table>

